.form-container{
    display: flex;
    margin-bottom: 30px;
}

.input-form__field{
    width: 200px;
    height: 30px;

    font-size: 17px;

    margin-right: 20px;
}

.form-btn{
    width: 100px;
    cursor: pointer;
}